@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body { 
  background-color: #FFFBF3;
  }  

h1{
  color: #D09171;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 2em;
}

h2{
  color: #6FC7B5;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 1.5em;
}

header {
	background-color: #071F35;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  }

footer {
  background-color: #071F35;
  bottom:0px;
  position: fixed;
  width: 100%;
  left:0px;
  }

a{
  text-decoration: none;
  color: #D09171;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px; 
}

li{
  list-style: none;
  font-size: 1.5em;
}

.button {
  background-color: #0B5F64;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  color: #D09171;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}

#subhead{
	background-color: #0B5F64;
  display: flex;
  justify-content: space-between;
	height: 75px;	
  padding: 10px 40px 0px 40px;
}

#footernav{
  display: flex;
  justify-content: space-around;
  padding: 10px 40px 10px 40px;
}

.main{
  display: flex;
  justify-content: center;
}

#usericon {
  width:75px;
  border-radius: 50%;
}

#logo{
  color: #6FC7B5;
  font-weight: bold; 
}

#daynav{
  display: flex;
  justify-content: space-around;
  padding: 20px 400px 0px 400px;
}

.arrowbutton{
  width:30px;
}

/*  Menu */
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0B5F64;
  min-width: 160px;
  z-index: 1;
  top: 60px;
  left: -40px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #6FC7B5}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}