@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body { 
  background-color: #FFFBF3;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: #6FC7B5;
  overflow: scroll;
  }  

h1{
  color:#0B5F64;
  font-size: 2em;
  font-weight: normal;
}

p{
  color: #D8B080;
}

h2{
  color: #6FC7B5;
  font-size: 1.5em;
  font-weight: normal;
}

header {
	background-color: #071F35;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  }

footer {
  background-color: #071F35;
  bottom:0px;
  width: 100%;
  left:0px;
  z-index: 3;
  position: fixed;
  }

a{
  text-decoration: none;
  color: #6FC7B5;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px; 
}

li{
  list-style: none;
  font-size: 1.2em;
}


#lastWalkTime{
  position: absolute;
  align-self: center;
  text-align: center;
  width: 100%;
  left: 0px;
}

#onTopHeader{
  z-index: 10;
}

.logInOut{
  color: #5E8F96;
  vertical-align: sub;
  cursor: pointer;
}

#subhead{
	background-color: #0B5F64;
  display: flex;
  justify-content: space-between;
	height: 75px;	
  padding: 10px 40px 0px 40px;
}

#statusBar{
  position: absolute;
  text-align: center;
  width: 100%;
  margin-left: -46px;
}

#footernav{
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

#main{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 200px;
  height: 700px;
}

.mainContent{
  text-align: center;
  width: 100%;
}

.packDog{
  text-align: center;
}

.pack{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center; 
}

#records{
  display: flex;
  justify-content: space-evenly;
}

#recordColumns{
  display: flex;
  justify-content: center;
  text-align: right;
  width: 100%;
  margin-top: 20px;
}

#rightColumn h2{
  color: #D8B080; 
  text-align: left;
  margin-left: 20px;
}

#usericon {
  width:75px;
  height:75px;
  border-radius: 50%;
}

.smallIcon {
  width:35px;
  height:35px;
  border-radius: 50%;
}

#dogicon {
  width:150px;
  border-radius: 50%;
  height:155px;
}

#logo{
  color: #D8B080;
  font-weight: bold; 
}

@media only screen and (max-width: 878px) {
    #logo{
    font-size: .8em;
    font-weight: normal; 
  }
}

#daynav{
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}

.arrowbutton{
  width:30px;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;  
}


/*  select */
select {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: #0B5F64;
  border-radius: 4px;
  border: 1px solid #D8B080;
  box-sizing: border-box;
  padding: 12px 20px;
  outline: none;
  width: 300px;
}



/*  Menu */
.dropdown {
  position: relative;
  display: flex;
  width: 350px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0B5F64;
  min-width: 160px;
  z-index: 1;
  top: 60px;
  left: -40px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #071F35}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:hover .dropbtn {
    background-color: #3E8E41;
}
.mobileNav{
  display: none;
}
/* timeline */

/* The actual timeline (the vertical ruler) */
#chart{
  position: relative;
  top: 40px;
}


form{
  display: block;
  justify-content: center;
  top: 0px;
}

input{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: #0B5F64;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #D8B080;
  box-sizing: border-box;
  padding: 12px 20px;
  outline: none;
}

input[type=text]:focus {
  border: 1px solid #6FC7B5;
}

textarea {
  color: #0B5F64;;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  width: 300px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #D8B080;
  border-radius: 4px;
  resize: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width:30px;
  height:40px;
  background:white;
  border-radius: 4px;
  border: 1px solid #D8B080;
}
input[type=checkbox]:checked {
  border: 1px solid #6FC7B5;
  background: #6FC7B5;
}

.button {
  background-color: #0B5F64;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  color: #D8B080;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 1em;
  cursor: pointer;
}

.checkboxes{
  width: 300px;
  display: inline-flex;
  justify-content: space-around;
}

#timeline {
  z-index: 1;
  left: 0px;
  top: 0px;
  height: 3px;
  width: 600px;
  background-color: #0B5F64;
}

#timenumbers {
  display: flex;
  justify-content: space-between;
  left: -10px;
  width: 600px;
  margin-top: 10px;
}

.icon{
  position: absolute;
  top: -20px;
  left: -15px; /*to account for the width of the icon*/ 
  z-index: 2;
  width: 40px;
  cursor: pointer;
}

.noticePaws{
  width: 50px;
  margin: -10px 10px 15px;
}

#add{
  left: -15px;
}

#popbox .hovertext {
  visibility: hidden;
  color: #6FC7B5;
  background-color: #0B5F64;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
  width: 80px;
  top: -75px;
  margin-left: -45px;
}

#popbox:hover .hovertext {
  visibility: visible;
}

.pawbox .hoverpaw {
  visibility: hidden;
  color: #D8B080;
  background-color: #071F35;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
  width: 80px;
  top: -75px;
  margin-left: -45px;
}

.pawbox:hover .hoverpaw {
  visibility: visible;
}