@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body { 
  background-color: #FFFBF3;
  }  
/*header, footer, main, nav, div {
  padding: 1.2em;
  text-align: center;
  }*/

h1{
  color: #D09171;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}

h3{
  color: #6FC7B5;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}

header {
	grid-area: header;
	background-color: #071F35;
	height: 200px;
  display: inline-flex;
  }

footer {
  grid-area: footer;
  background-color: #071F35;
  bottom:0px;
  position: fixed;
  width: 100%;
  }

#subhead{
	background-color: #0B5F64;
	grid-area: subhead;
	height: 75px;	
}


.clock{
    display: table; 
    margin: 50px auto;
    background: lightgray;
    height: 400px;
    width: 400px;
}

.middle {display: table-cell; vertical-align: middle;}

.circle{
  margin: auto;
  border: solid 10px #6FC7B5;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

/*.circle .circle{
    width: 15px;
    height: 15px;
    margin-top: 130px;
}*/

#logo {
  width:200px;
}

#usericon {
  width:75px;
  border-radius: 50%;
}

#head{
  display: inline-flex;
  right: 0px;
}