@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@keyframes title {
  0% {
    letter-spacing: 10px;
    opacity: 0;
  }
  100% {
    letter-spacing: 2px;
    opacity: 1;
  }
}


@keyframes tagline {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clickPaw {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

html {
    min-height:100%;
}
body { 
  background-color: #071F35;
  color: #6FC7B5;
  background-image: linear-gradient(to bottom right, #0B5F64, #071F35);
  background-repeat: no-repeat;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  height: 100%;
  width: 100%;
  }  

#main{
  margin-top: 200px;
}

h1{
  color: #6FC7B5;
  font-size: 5em;
  font-weight: normal;
  margin: 0px;
  animation-name: title;
  animation-duration: 2s;
}

h2{
  color: #D09171;
  font-size: 2em;
  font-weight: normal;
  animation-name: tagline;
  animation-duration: 2s;
}

#bigPaw{
  width: 80px;
  animation: clickPaw 2s infinite;
}

#enterSite{
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}

#enter{
  opacity: 0;
  transition: 0.2s;
}

#enterSite:hover + #enter {
  opacity: 1;

